
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h1>This is Get All Books Page
    </h1>
</body>
</html>
